@model EconomiMM.Models.LinerExpansionJointMaterial

@{
    ViewData["Title"] = "Delete";
}

<h1>Видалити</h1>

<h3>Ви впевненні що хочете видалити цей матеріал?</h3>
<div>
    <h4>Матеріал вкладиша</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Назва
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            Тип матеріалу
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Type.Name)
        </dd>
        <dt class = "col-sm-2">
            Товщина
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Thickness)
        </dd>
        <dt class = "col-sm-2">
            Ціна
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class = "col-sm-2">
            Частина фланцю
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PartOfLiner)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Видалити" class="btn btn-danger" /> |
        <a asp-action="Index">Назад до списку</a>
    </form>
</div>
