@model IEnumerable<EconomiMM.Models.LinerExpansionJointMaterial>

@{
    ViewData["Title"] = "Index";
}

<h1>Матеріали вкладишу</h1>

<p>
    <a asp-action="Create">Додати новий матеріал</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Назва
            </th>
            <th>
                Тип матеріалу
            </th>
            <th>
                Товщина
            </th>
            <th>
                Ціна
            </th>
            <th>
                Частина вкладишу
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Type.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Thickness)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PartOfLiner)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Редагувати</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Видалити</a>
                </td>
            </tr>
        }
    </tbody>
</table>
