@model EconomiMM.Models.Product

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Product</h4>
    <hr />
    <div class="d-flex flex-row">
        <div class="w-50">
            <dl class="row">
                <dt class="col-sm-6">
                    @Html.DisplayNameFor(model => model.orderNumber)
                </dt>
                <dd class="col-sm-6">
                    @Html.DisplayFor(model => model.orderNumber)
                </dd>
                <dt class="col-sm-6">
                    @Html.DisplayNameFor(model => model.temperature)
                </dt>
                <dd class="col-sm-6">
                    @Html.DisplayFor(model => model.temperature) C°
                </dd>
                <dt class="col-sm-6">
                    @Html.DisplayNameFor(model => model.jointShape)
                </dt>
                <dd class="col-sm-6">
                    @Html.DisplayFor(model => model.jointShape)
                </dd>
                <dt class="col-sm-6">
                    @Html.DisplayNameFor(model => model.jointType)
                </dt>
                <dd class="col-sm-6">
                    @Html.DisplayFor(model => model.jointType)
                </dd>
                <dt class="col-sm-6">
                    @Html.DisplayNameFor(model => model.withLiner)
                </dt>
                <dd class="col-sm-6">
                    @Html.DisplayFor(model => model.withLiner)
                </dd>
                <dt class="col-sm-6">
                    @Html.DisplayNameFor(model => model.koef)
                </dt>
                <dd class="col-sm-6">
                    @Html.DisplayFor(model => model.koef)
                </dd>
                <dt class="col-sm-6">
                    @Html.DisplayNameFor(model => model.siliconeTubes)
                </dt>
                <dd class="col-sm-6">
                    @Html.DisplayFor(model => model.siliconeTubes) шт
                </dd>
                <dt class="col-sm-6">
                    @Html.DisplayNameFor(model => model.linerPartLength)
                </dt>
                <dd class="col-sm-6">
                    @Html.DisplayFor(model => model.linerPartLength) м
                </dd>
                <dt class="col-sm-6">
                    @Html.DisplayNameFor(model => model.linerPartHeight)
                </dt>
                <dd class="col-sm-6">
                    @Html.DisplayFor(model => model.linerPartHeight) м
                </dd>
                <dt class="col-sm-6">
                    @Html.DisplayNameFor(model => model.linerPartWidth)
                </dt>
                <dd class="col-sm-6">
                    @Html.DisplayFor(model => model.linerPartWidth) м
                </dd>
                <dt class="col-sm-6">
                    @Html.DisplayNameFor(model => model.linerPartBindingWidth)
                </dt>
                <dd class="col-sm-6">
                    @Html.DisplayFor(model => model.linerPartBindingWidth) м
                </dd>
                <dt class="col-sm-6">
                    @Html.DisplayNameFor(model => model.mainPartWorkPrice)
                </dt>
                <dd class="col-sm-6">
                    @Html.DisplayFor(model => model.mainPartWorkPrice) грн
                </dd>
                <dt class="col-sm-6">
                    @Html.DisplayNameFor(model => model.linerPartWorkPrice)
                </dt>
                <dd class="col-sm-6">
                    @Html.DisplayFor(model => model.linerPartWorkPrice) грн
                </dd>
                <dt class="col-sm-6">
                    @Html.DisplayNameFor(model => model.TotalPrice)
                </dt>
                <dd class="col-sm-6">
                    @Html.DisplayFor(model => model.TotalPrice) грн
                </dd>
            </dl>
        </div>
        <div class="w-50">
            <dl class="row">
                <dt class="col-sm-6">
                    @Html.DisplayNameFor(model => model.mainPartLength1)
                </dt>
                <dd class="col-sm-6">
                    @Html.DisplayFor(model => model.mainPartLength1) м
                </dd>
                <dt class="col-sm-6">
                    @Html.DisplayNameFor(model => model.mainPartDiameter)
                </dt>
                <dd class="col-sm-6">
                    @Html.DisplayFor(model => model.mainPartDiameter) м
                </dd>
                <dt class="col-sm-6">
                    @Html.DisplayNameFor(model => model.mainPartLength2)
                </dt>
                <dd class="col-sm-6">
                    @Html.DisplayFor(model => model.mainPartLength2) м
                </dd>
                <dt class="col-sm-6">
                    @Html.DisplayNameFor(model => model.mainPartWidth)
                </dt>
                <dd class="col-sm-6">
                    @Html.DisplayFor(model => model.mainPartWidth) м
                </dd>
                <dt class="col-sm-6">
                    @Html.DisplayNameFor(model => model.flangeWidth)
                </dt>
                <dd class="col-sm-6">
                    @Html.DisplayFor(model => model.flangeWidth) м
                </dd>
            </dl>
        </div>
    </div>

</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
