@model IEnumerable<EconomiMM.Models.Product>

@{
    ViewData["Title"] = "Index";
}

<h1>Збережені замовлення</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.orderNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.temperature)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.jointShape)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.jointType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.withLiner)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.TotalPrice)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.orderNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.temperature) C°
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.jointShape)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.jointType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.withLiner)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.TotalPrice) грн
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
