@model IEnumerable<EconomiMM.Models.Product>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.orderNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.temperature)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.jointShape)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.jointType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.withLiner)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.mainPartLength1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.mainPartDiameter)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.mainPartLength2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.mainPartWidth)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.flangeWidth)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.koef)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.siliconeTubes)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.linerPartLength)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.linerPartHeight)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.linerPartWidth)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.linerPartBindingWidth)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.mainPartWorkPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.linerPartWorkPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalPrice)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.orderNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.temperature)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.jointShape)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.jointType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.withLiner)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.mainPartLength1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.mainPartDiameter)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.mainPartLength2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.mainPartWidth)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.flangeWidth)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.koef)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.siliconeTubes)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.linerPartLength)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.linerPartHeight)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.linerPartWidth)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.linerPartBindingWidth)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.mainPartWorkPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.linerPartWorkPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalPrice)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
