@model EconomiMM.ViewModels.EditMaterialViewModel

@{
    ViewData["Title"] = "Edit";
    var MaterialID = @Model.Material.Id;
}

<h1>Редагувати</h1>

<h4>Матеріал</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" asp-route-id="@MaterialID" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <input type="hidden" asp-for="Material.Id" />
            <div class="form-group">
                <label asp-for="Material.Name" class="control-label">Назва</label>
                <select id="name-select" asp-for="Material.Name" class="form-control form-select">
                </select>
                <span asp-validation-for="Material.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Material.Thickness" class="control-label">Товщина</label>
                <input asp-for="Material.Thickness" class="form-control" />
                <span asp-validation-for="Material.Thickness" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Material.Size" class="control-label">Розміри</label>
                <input asp-for="Material.Size" class="form-control" />
                <span asp-validation-for="Material.Size" class="text-danger"></span>
            </div>
            <div type="hidden" class="form-group">
                <label asp-for="SelectedColorsId" class="control-label">Кольори</label>
                <div class="round-button-container">
                    @if (Model.Material.Colors != null)
                    {
                        @foreach (var color in Model.Material.Colors)
                        {
                            <span id="@color.Id" + class=" dot-color-show round-delete-button" style="background-color:  @color.ColorHex  ;">
                                <i class="check-icon fa-solid fa-check fa-sm"></i>
                                <i class="minus-icon fa-solid fa-minus fa-sm" style="color: #162237; "></i>
                            </span>

                        }
                    }
                    <button type="button" class="round-add-button" data-bs-toggle="modal" data-bs-target="#myModal">+</button>
                </div>
                <input type="hidden" asp-for="SelectedColorsId" id="SelectedColors" class="form-control" value="@Model.SelectedColorsId">
            </div>
            <div class="form-group">
                <label asp-for="Material.Reserved" class="control-label">Зарезервовано</label>
                <input asp-for="Material.Reserved" class="form-control" />
                <span asp-validation-for="Material.Reserved" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Material.Count" class="control-label">Кількість на складі</label>
                <input asp-for="Material.Count" class="form-control" />
                <span asp-validation-for="Material.Count" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Material.Price" class="control-label">Ціна</label>
                <input asp-for="Material.Price" class="form-control" />
                <span asp-validation-for="Material.Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Material.OurPriceForSheet" class="control-label">Наша ціна за лист</label>
                <input asp-for="Material.OurPriceForSheet" class="form-control disabled" />
                <span asp-validation-for="Material.OurPriceForSheet" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Material.OurPriceForSqMetre" class="control-label">Наша ціна за м2</label>
                <input asp-for="Material.OurPriceForSqMetre" class="form-control disabled" />
                <span asp-validation-for="Material.OurPriceForSqMetre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Material.DealerPriceForSheet" class="control-label">Дилерська ціна за лист</label>
                <input asp-for="Material.DealerPriceForSheet" class="form-control disabled" />
                <span asp-validation-for="Material.DealerPriceForSheet" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Material.DealerPriceForSqMetre" class="control-label">Дилерська ціна за м2</label>
                <input asp-for="Material.DealerPriceForSqMetre" class="form-control disabled" />
                <span asp-validation-for="Material.DealerPriceForSqMetre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Material.Sold" class="control-label">Продано</label>
                <input asp-for="Material.Sold" class="form-control" />
                <span asp-validation-for="Material.Sold" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
            <div class="modal fade" id="infoModal" data-bs-backdrop="false">
                <div class="modal-dialog modal-position">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5>Довідка</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <p>Ціна за позицію формується: Ціна * коефіцієнт</p>
                            <label>Коефіцієнти</label>
                            <input class="disabled" asp-for="PriceKoeficients.Manufacturer"></input>
                            <table class="table">
                                <tbody>
                                    <tr>
                                        <td>Коєфіцієнт нашої ціни за лист</td>
                                        <td><input class="disabled" asp-for="PriceKoeficients.OurPriceForSheetKoef"></input></td>

                                    </tr>
                                    <tr>
                                        <td>Коєфіцієнт нашої ціни за м^2</td>
                                        <td><input class="disabled" asp-for="PriceKoeficients.OurPriceForSqMetreKoef"></td>
                                    </tr>
                                    <tr>
                                        <td>Коєфіцієнт дилерської ціни за лист</td>
                                        <td><input class="disabled" asp-for="PriceKoeficients.DealerPriceForSheetKoef"></td>
                                    </tr>
                                    <tr>
                                        <td>Коєфіцієнт дилерської ціни за м^2</td>
                                        <td><input class="disabled" asp-for="PriceKoeficients.DealerPriceForSqMetreKoef"></td>
                                    </tr>
                                </tbody>
                            </table>

                        </div>

                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="col-md-4">

            <button type="button" class="round-add-button koef-info" data-bs-toggle="modal" data-bs-target="#infoModal">i</button>
        
    </div>
</div>

<div>
    <a asp-action="Index">Назад до списку</a>
</div>

<div class="modal fade" id="myModal" data-bs-backdrop="false">
    <div class="modal-dialog modal-position">
        <div class="modal-content">
            <div class="modal-header">
                @if (Model.Colors != null)
                {
                    @foreach (var color in Model.Colors)
                    {
                        <span id="@color.Id" class="dot-color-show round-select-button" style="background-color: @color.ColorHex;"></span>
                    }
                }
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <a class="m-1" asp-controller="Colors" asp-action="Index">Редагувати кольори</a>
            </div>

        </div>
    </div>
</div>

@section Scripts {
    <script>
        "use strict";

        var connection = new signalR.HubConnectionBuilder().withUrl("/materialHub").build();

        connection.start().then(function () {
            console.log('connected to hub');
            connection.invoke("GetAllMaterialTypes").catch(function (err) {
                return console.error(err.toString());
            })
        }).catch(function (err) {
            return console.error(err.toString());
        });



        connection.on("RecievedMaterialTypeInfo", function (materialTypeDB) {
            console.log("out");


            materialTypeDB.forEach(function (materialType) {
                var option = $('<option>', {
                    value: materialType['name'],
                    text: materialType['name']
                });

                if (materialType['name'] === '@Model.Material.Name') {
                    option.attr('selected', 'selected');
                }

                $('#name-select').append(option);




            });

        });

        function removeNumberFromString(inputString, numberToRemove) {
            // Create a regular expression pattern to match the number preceded by a comma
            var pattern = new RegExp(numberToRemove + ",", "g");

            // Use the replace method to remove the matched pattern
            var result = inputString.replace(pattern, "");

            return result;
        }
        $(document).on('click', '.round-select-button', function () {
            $(this).toggleClass("selected");
            if ($(this).hasClass("selected")) {

                var colorId = $(this).attr('id');

                if ($('.round-button-container:has(#' + colorId + ')').length === 0) {
                    var backgroundColor = $(this).css('background-color');
                    var colorButton = "<span id=" + colorId + " class=\"dot-color-show round-delete-button\" style = \"background-color: " + backgroundColor + ";\" ><i class=\"check-icon fa-solid fa-check fa-sm\"></i><i class=\"minus-icon fa-solid fa-minus fa-sm\" style=\"color: #162237; \"></i> </span>";
                    $(colorButton).insertBefore("button.round-add-button");
                    var prevValue = $('input#SelectedColors').val();
                    $('input#SelectedColors').val(prevValue + colorId + ",");
                }
            }
        });


        $(document).on('click', '.round-delete-button', function () {
            var colorId = $(this).attr('id');
            $('#myModal .dot-color-show#' + colorId).removeClass("selected");
            var prevValue = $('input#SelectedColors').val();
            console.log(prevValue);
            var newValue = removeNumberFromString(prevValue, colorId);

            $('input#SelectedColors').val(newValue);
            $(this).remove();

        });





    </script>
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
