@model IEnumerable<EconomiMM.Models.Material>

@{
    ViewData["Title"] = "Index";
}

<h1> Список матеріалів</h1>

<p>
    <a asp-action="Create">Додати новий матеріал</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Назва
                <button type="button" class="btn btn-light filter-button" data-bs-toggle="modal" data-bs-target="#nameModal">
                    <img class="filter-icon" src="~/img/filter.png" />
                </button>
            </th>
            <th>
                Товщина
                <button type="button" class="btn btn-light filter-button" data-bs-toggle="modal" data-bs-target="#thicknessModal">
                    <img class="filter-icon" src="~/img/filter.png" />
                </button>

            </th>
            <th>
                Розміри
            </th>
            <th>
                Колір
            </th>
            <th>
                Ціна
            </th>
            <th>
                Наша ціна за лист
            </th>
            <th>
                Наша ціна за м2
            </th>
            <th>
                Дилерська ціна за лист
            </th>
            <th>
                Дилерська ціна за м2
            <th>
                Кількість
            </th>
            <th>
                Резерв
            </th>
            <th>
                Продано
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Thickness)
                </td>
                <td>
                    <div class="size-cell">
                    @Html.DisplayFor(modelItem => item.Size)
                    </div>
                </td>
                <td>
                    @if (item.Colors != null)
                    {
                        <div class="color-cell">
                        @foreach (var color in item.Colors)
                        {
                            <span class="dot-color-show" style="background-color: @color.ColorHex;"></span>
                        }
                        </div>
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OurPriceForSheet)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OurPriceForSqMetre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DealerPriceForSheet)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DealerPriceForSqMetre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Count)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Reserved)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Sold)
                </td>
                <td>
                    <a asp-action="Sell" asp-route-id="@item.Id">Продати</a> |
                    <a asp-action="Edit" asp-route-id="@item.Id">Редагувати</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Видалити</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<div class="modal" id="thicknessModal" aria-labelledby="thicknessModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="thicknessModalLabel">Фільтр товщин</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Назад"></button>
            </div>
            <form method="GET" asp-controller="Materials" asp-action="Index">
                <div class="modal-body">
                    <label class="control-label">Товщина</label>
                    <input class="form-control" name="thickness" />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Назад</button>
                    <button id="thickness-filter-button" type="submit" class="btn btn-primary">Підтвердити</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal" id="nameModal" aria-labelledby="nameModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="nameModalLabel">Фільтр по назві</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Назад"></button>
            </div>
            <form method="GET" asp-controller="Materials" asp-action="Index">
                <div class="modal-body">
                    <label class="control-label">Назва</label>
                    <select id="name-select" class="form-control" name="name"></select>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Назад</button>
                    <button id="thickness-filter-button" type="submit" class="btn btn-primary">Підтвердити</button>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        "use strict";

        var connection = new signalR.HubConnectionBuilder().withUrl("/materialHub").build();

        connection.start().then(function () {
            console.log('connected to hub');
            connection.invoke("GetAllMaterialTypes").catch(function (err) {
                return console.error(err.toString());
            })
        }).catch(function (err) {
            return console.error(err.toString());
        });



        connection.on("RecievedMaterialTypeInfo", function (materialTypeDB) {
            console.log("out");


            materialTypeDB.forEach(function (materialType) {
                var option = $('<option>', {
                    value: materialType['name'],
                    text: materialType['name']
                });

                if (materialType['name'] === "@Html.Raw(ViewData["Name"].ToString())") {
                    option.attr('selected', 'selected');
                }

                $('#name-select').append(option);




            });

        });
    </script>


}