@model EconomiMM.ViewModels.CalculatorViewModel
@using EconomiMM.Enum;
@{
}


<div class="liner-material-window disabled">
    <div class="liner-material border border-1 scroll-main-window">
        <div class="liner-material-inner">
            <a class="toggle-btn link-dark"> Внутрішня частина</a>
            <br />
        </div>
        <div class="liner-material-outer">
            <a class="toggle-btn link-dark"> Зовнішня частина</a>
            <br />
        </div>
    </div>
    <button type="button" class="btn btn-light add-material-btn" data-bs-toggle="modal" data-bs-target="#liner-material-Modal">
        <img class="filter-icon" src="~/img/plus.png" />
    </button>


</div>






<div class="modal" id="liner-material-Modal" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Додати матеріал</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Назад"></button>
            </div>

            <div class="modal-body">
                <label class="control-label">Виробник</label>
                <div class="liner-material-modal p-2 border border-1 scroll-modal-window">
                    <a id="inner-liner-materials" class="toggle-btn text-dark">Внутрішня частина</a>
                    <div id="inner-liner-materials-list">
                        @foreach (var materialType in Model.innerLinerMaterialTypes)
                        {
                            <a id="@materialType.Id" class="toggle-btn link-dark">@materialType.Name</a>
                            <div id="materialType-@materialType.Id">
                                @foreach (var material in Model.linerExpansionJointMaterials)
                                {
                                    @if (material.PartOfLiner == LinerParts.Inner && material.Type == materialType)
                                    {
                                        <div>
                                            <input class="form-check-input" type="checkbox" value="" id="material-@material.Id">
                                            <label class="form-check-label mx-2" for="material-@material.Id">
                                                @material.Name
                                            </label>
                                            <label class="form-check-label mx-2" for="material-@material.Id">
                                                @material.Thickness мм
                                            </label>
                                            <label class="form-check-label mx-2" for="material-@material.Id">
                                                @material.Price грн/м^3
                                            </label>
                                            <br>
                                        </div>
                                    }

                                }

                            </div>

                        }
                    </div>
                    <hr class="solid">
                    <a id="inner-liner-materials" class="toggle-btn text-dark link-offset-2 link-underline link-underline-opacity-0">Зовнішня частина</a>
                    <div id="outer-liner-materials">
                        @foreach (var materialType in Model.outerLinerMaterialTypes)
                        {
                            <a id="@materialType.Id" class="toggle-btn link-dark">@materialType.Name</a>
                            <div id="materialType-@materialType.Id">
                                @foreach (var material in Model.linerExpansionJointMaterials)
                                {
                                    @if (material.PartOfLiner == LinerParts.Outer && material.Type == materialType)
                                    {
                                        <div>
                                            <input class="form-check-input" type="checkbox" value="" id="material-@material.Id">
                                            <label class="form-check-label mx-2" for="material-@material.Id">
                                                @material.Name
                                            </label>
                                            <label class="form-check-label mx-2" for="material-@material.Id">
                                                @material.Thickness мм
                                            </label>
                                            <label class="form-check-label mx-2" for="material-@material.Id">
                                                @material.Price грн/м^2
                                            </label>
                                            <br>
                                        </div>
                                    }

                                }

                            </div>

                        }
                    </div>

                </div>


            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Назад</button>
                <button id="add-liner-material-button" type="submit" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#liner-material-Modal">Підтвердити</button>
            </div>

        </div>
    </div>
</div>